.event {
  display: inline-block;
  width: 12vh;
  height: 12vh;
  border-radius: 12vh;
  padding: 2vh;

  &:hover {
    background-color: darkslategray;
  }

  object {
    max-height: 12vh;
    pointer-events: none;
  }
}