#date, #time {
	text-align: center;
  font-size: 22vh;
  margin-top: -0.1em;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  margin-left: 50vw;
}

#phases, #months {
  white-space: nowrap;
}

#phases {
  border: 1px dashed black;
  display: flex;

  span {
    flex-grow: 1;
  }
}

#iso {
  text-align: center;
  font-size: 5vh;
}