#date, #time {
	text-align: center;
	font-size: 22vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  margin-left: 50vw;
}

#phases, #months {
  white-space: nowrap;
}

#phases {
  width: 3588px;
  font-size: 5vh;
  display: flex;

  span {
    flex-grow: 1;
  }
}
