body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  margin-left: 50vw;
}

#phases, #months {
  white-space: nowrap;
}

#phases {
  display: flex;

  span {
    flex-grow: 1;
  }
}
