#date, #time {
	text-align: center;
	font-size: 22vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#phase {
  white-space: nowrap;
  overflow: hidden;
}
#phase img {
  display: inline-block;
  width: 25vh;
}

#months {
  display: flex;
}

#months {
  font-size: 11vh;
}
